{% extends 'dialect/base.html' %}
{% load static %}
<!-- template 확장하기 body interface -->
{% block content %}
<!-- Masthead-->
<div class = box>
    <div class = "container">
        <form action="dictionary/" method ="post">
            {% csrf_token %}
            <input id = "dic" type ="text" name ="content" placeholder="검색하세요">
            <input class = "btn" id="search" type ="submit" value ="검색">
        </form>
        <div>
            <a href="dictionary.html">전체</a>
            <a href="dict_list1.html">ㄱ</a>
            <a href="dict_list2.html">ㄲ</a>
            <a href="dict_list3.html">ㄴ</a>
            <a href="dict_list4.html">ㄷ</a>
            <a href="dict_list5.html">ㄸ</a>
            <a href="dict_list6.html">ㄹ</a>
            <a href="dict_list7.html">ㅁ</a>
            <a href="dict_list8.html">ㅂ</a>
            <a href="dict_list9.html">ㅃ</a>
            <a href="dict_list10.html">ㅅ</a>
            <a href="dict_list11.html">ㅆ</a>
            <a href="dict_list12.html">ㅇ</a>
            <a href="dict_list13.html">ㅈ</a>
            <a href="dict_list14.html">ㅉ</a>
            <a href="dict_list15.html">ㅊ</a>
            <a href="dict_list16.html">ㅋ</a>
            <a href="dict_list17.html">ㅌ</a>
            <a href="dict_list18.html">ㅍ</a>
            <a href="dict_list19.html">ㅎ</a>
        </div>
        {% for i in lst %}
        <div>
            <table>
                <tr>
                    <td>{{ i.name }}</td>
                    <td>{{ i.contents }}</td>
                </tr>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}