{% extends 'dialect/base.html' %}
{% load static %}
<!-- template 확장하기 body interface -->
{% block content %}
<!-- Masthead-->
<div class = box>
    <div class = "container">
        <form action="/search/" method ="post">
            {% csrf_token %}
            <input id = "trans" type ="text" name ="content" placeholder="0/500">
            <input class = "btn" id="trans_btn" type ="submit" value ="번역">
        </form>
        <div><p>{{ content }}</p></div>
    </div>
</div>
{% endblock content %}